
@{
    ViewBag.Title = "Completed";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    your transaction is completed
                </h2>
                <h4>
                    You can pick up your car on the specified date and from the designated place.
                </h4>
            </div>
        </div>
    </div>
    

